//META{"name":"ThemeFixer","description":"Fixes_All_Themes_Including_Themes_That_Have_Been_Broke_For_Ages","author":"xNightWulf","version":"1.1"}*//{}

/*Transparency*/
#voice-connection, #friends, .friends-header, .friends-table, .guilds-wrapper, .guild-header header, .channels-wrap, .private-channels .search-bar, .private-channels, .guild-channels, .account, .friend-table-add-header,
 .chat, .content, .layers, .title-wrap:not(.search-bar), .messages-wrapper, .messages .divider span, .messages .divider:before, .content, .message-group-blocked, .is-local-bot-message,
 .channel-members-loading, .channel-members-loading .heading, .channel-members-loading .member, .typing, .layer, .layers, .container-RYiLUQ, .theme-dark .ui-standard-sidebar-view, 
.theme-dark .ui-standard-sidebar-view .sidebar-region, .theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .channel-members, .layer, .layers, .container-2OU7Cz,
 .theme-dark .title-qAcLxz, .theme-dark .chat form, .channels-3g2vYe, .theme-dark .friends-table, .theme-dark .messages-wrapper, .content .flex-spacer, .theme-dark .chat>.content, .theme-dark .chat, .container-2OU7Cz,
 .theme-dark .channel-members, .channel-members, .channels-3g2vYe, .guilds-wrapper, .search .search-bar, .theme-dark .chat form, .container-iksrDt, .container-3lnMWU, .theme-dark .title-qAcLxz {
    background: transparent !important;
}
.theme-dark .layer, .theme-dark .layers, .typeWindows-15E0Ys {
    background: rgba(0, 0, 0, 0.18) !important;
}
